* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Volkorn", Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
}

.estrutura {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 3fr 300px;
  grid-template-areas:
  "header header header"
  "sidenav content anuncio"
  "footer footer footer";

  header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    padding: 30px;

    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;

    .logo {
      max-width: 200px;
    }

    .menu-nav {

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        a {
          color: #fff;
          font-size: 1.125em;
          padding: 10px;
          border-radius: 5px;
          background: rgba(0,0,0,.1);
          transition: .1s;
        }

        a:hover {
          background: rgba(0,0,0,.5);

        }
      }

    }
  }

  .sidenav {
    background: #FAFBFC;
    padding: 30px;

    .sidenav-item {
      display: block;
      min-width: 60px;
      max-width: 100px;
      margin: 0 auto 30px auto;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
      transition: 1s ease-out;
    }

    .sidenav-item:hover {
      background: #b07dfb;
    }

  }

  .content{
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    .col-wide {
      grid-column: 1 / -1;
    }

    .img-uivando {
      grid-row: span 2;
      width: 420px;
      align-self: end;
    }

    .img-lambendo {
      width: 420px;
      align-self: end;
    }

    p {
      color: rgba(0,0,0,0.7);
      line-height: 1.6;
      font-size: 1.2em;
    }


    .titulo {
      color: #b07dfb;

      h1 {
        font-size: 3.75em;
        font-weight: 700;
        line-height: 1;
      }

      span {
        font-size: 0.875em;
        font-style: italic;
      }
    }

    .caracteristicas {
      display: flex;
      align-items: flex-start;
      gap: 30px;

      div {
        width: 80px;
        text-align: center;
        background: linear-gradient(135deg, #8844ee, #b07dfb);
        border-radius: 5px;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);

      //*position relative + top no .rotulo para não vazar a cor roxa no shadow**/
      position: relative;

        .numero {
          color: #b07dfb;
          font-size: 3em;
          line-height: 1;
          margin: 10px auto;

        }

        .rotulo {
          display: block;
          background: white;
          border-radius: 0 0 5px 5px;
          color: #b07dfb;
          padding: 5px 0;

          //*position relative + top para não vazar a cor roxa no shadow**/
          position: relative;
          top: 2px;
        }
      }








    }

    .atributos {
      background: linear-gradient(135deg, #8844ee, #b07dfb);
      box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
      align-self: start;
      border-radius: 5px;
      padding: 30px;


      li {
        font-family: "Courier New", monospace;
        color: white;
        font-size: 1.125em;
        padding: 15px;



      }

      li  {

      }

    }


    .informacoes {

      p + p {
        margin-top: 30px;

      }

    }



  }

  .anuncios {
    grid-area: anuncio;
    background: #FAFBFC;

    display: grid;
    align-content: start;
    padding: 30px;
    gap: 30px;

    img {
      border-radius: 5px;
    }

  }

  .footer {
    grid-area: footer;

    background: linear-gradient(135deg, #8844ee, #b07dfb);

    p {
      color: #fff;
      font-size: 19px;
      text-align: center;
      padding: 30px;
    }
  }

}

